- if not scenarios.empty?
  %p
    %em
      Please remember to unboot scenarios when they are no longer needed.
  = render 'partials/scenarios_tiles', scenarios: scenarios
- else
  %p
    %strong It looks like you don't have any scenarios yet.
    Click #{link_to 'here', new_scenario_path} to pick a scenario to edit and/or
    boot. Once you've created a scenario from one of our templates, you can add
    students to it.
