%div.modal#modal-create-student-group{ tabindex: "-1", role: "dialog", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline
          Create Student Group
      %div.modal-body
        = form_for StudentGroup.new do  |f|
          %div#name-div
            = f.label :name
            = f.text_field :name, class: 'form-control'
            %span.help-block.inline#name-help
          %br
          = submit_tag "submit", :class => 'btn btn-default'
