<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your EDURange password at <%= `hostname` %>  has been reset</h1>
    <p>
      Here are your new credentials.
    </p>
    email: <%= @user.email %>
    <p>
    password: <%= @password %>
    </p>
  </body>
</html>
