%h2 Users
%table.table.dataTable
  %thead
    %tr
      %th
      %th Name
      %th Email
      %th Organization
      %th Role
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        = render user
