%h2 Users
= form_tag batch_action_users_path, method: :post do
  .form-group
    %label{ for: "batch-actions" } With selected:
    .btn-group.btn-group-sm#batch-actions
      = submit_tag "delete", class: "btn btn-danger", data: { confirm: "Are you sure you want to delete ALL selected users?" }

  %table.table.dataTable
    %thead
      %tr
        %th.text-center= check_box_tag "select_all", 1
        %th Name
        %th Email
        %th Organization
        %th Role
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          = render user
