.modal{ id: (id || 'modal-set-organization'), :tabindex => "-1", :role => "dialog", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-body
        .text-right
          %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
            &times;
        .form-group
          = label_tag "Organization"
          %p Set the selected users' organization.
          = text_field_tag "organization", nil, class: 'form-control'
        = submit_tag "update", :class => 'btn btn-primary'
