!!!
%html
  = render 'layouts/head'
  %body
    %br/
    %br/
    %main{:role => "main"}
      %div.col-md-8.col-md-offset-2
        = render 'layouts/messages'
        %div.panel.panel-default
          %div.panel-heading
            %h1
              EDURange
              %small
                the cybersecurity training ground
          %div.panel-body
            = yield